
main div a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

main div a:hover {
    color: #00C94B;
}

main div h3 a {
    text-decoration: none;
    color: #024058;
}

main div h3 a:hover {
    color: #00C94B;
}

* {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
     /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 25%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .middle {
    width: 50%;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#description{
    margin-left: 20%;
    clear: both;
    margin: right 20%;
    text-align: center;
}

#info-blocks-div{
    background-color: white;
    width: 90%;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 30px;
    margin: 35px;
    text-align: left;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    
    
    
}

#info-blocks {
    background-color: rgba(48,201,105,0.75);;
    padding: 20px;
    margin: 35px;
    border-radius: 6px;
    text-align: center;
    
    
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
    margin: 0;
    padding: 0;
    background: url(../../img/main-page/mountains.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}


